body, html, #container {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

.ReactDemoApp {
  display: flex;
  height: 100%;

  > .ThreadListPanel {
    width: 300px;
    margin: 20px;
  }
  > .ConversationPanel {
    flex: 1;
    margin: 20px;
    margin-left: 0;
  }
}

$verPadding: 15px;
$horPadding: 15px;

.ThreadListPanel {
  overflow: auto;

  &-thread {
    padding: 0 0 $verPadding 0;
    margin: 0 0 $verPadding 0;
    display: flex;
    border-bottom: 1px solid #ddd;
    cursor: pointer;
  }

  &-badge {
    width: 40px;
    height: 40px;
    margin-right: $horPadding;
    border-radius: 100%;
    text-align: center;
    color: white;
    overflow: hidden;
    font-size: 23px;
    padding-top: 4px;
    font-weight: 100;
  }

  &-details {
    flex: 1;
    color: #676767;
  }

  &-name {
    font-weight: bold;
  }

  &-message {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}

$verPadding: 15px;
$horPadding: 50px;

.ConversationPanel {
  overflow: auto;

  &-message {
    background: #F6F6F6;
    margin-bottom: $verPadding;
    padding: 8px 12px;
    margin-right: $horPadding;
  }

  &-mine {
    text-align: right;
    background: rgba(51, 122, 183, 0.25);
    margin-left: $horPadding;
    margin-right: 0;
  }
}
